<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wr.api.estate.mapper.application.manage.StaffMapper">
    <select id="selectStaffList" resultType="com.wr.remote.estate.manage.Staff">
        select bs.staff_id as staffId,
        bs.user_id as userId,
        /*bs.community_id ,*/
        bs.staff_name as staffName,
        bs.staff_phone as staffPhone,
        bs.gender as gender,
        bs.card_no as cardNo,
        bs.avatar as avatar,
        bs.staff_type as staffType,
        bs.work_post as workPost,
        bs.healthy as healthy,
        bs.education as education,
        bs.cert_url as certUrl,
        bs.work_year as workYear,
        bs.audit_status as auditStatus,
        bs.entry_time as entryTime,
        bs.dimission_time as dimissionTime,
        bs.address as address,
        bs.staff_intro as staffIntro,
        bs.create_by as createBy,
        bs.create_time as createTime,
        bs.update_by as updateBy,
        bs.update_time as updateTime,
        bs.del_flag as delflag,
        if(bs.dimission_time>0,'离职','在职') as jobStatus,
        (substring(now(),1,4)-substring(bs.card_no,7,4))-(substring(bs.card_no,11,4)-date_format(now(),'%m%d')>0) as age
        from xccj_community.bus_staff bs
        LEFT JOIN xccj_community.bus_community bc ON bs.community_id = bc.community_id
        where bs.del_flag='0'
        <if test="communityId != null ">
            AND bs.community_id=#{communityId}
        </if>
        <if test="staffType != null and staffType != ''">
            AND bs.staff_type=#{staffType}
        </if>
        <if test="workPost != null and workPost != ''">
            AND bs.work_post=#{workPost}
        </if>
        <if test="staffName != null and staffName != ''">
            AND bs.staff_name like concat('%', #{staffName}, '%')
        </if>
        <if test="staffPhone != null and staffPhone != ''">
            AND bs.staff_phone like concat('%', #{staffPhone}, '%')
        </if>
        <if test="jobStatus =='0'.toString() ">
            AND bs.dimission_time is null
        </if>
        <if test="jobStatus =='1'.toString() ">
            AND bs.dimission_time is not null
        </if>
        order by bs.entry_time DESC
    </select>
    <select id="getStaffById" resultType="com.wr.remote.estate.manage.Staff">
        select bs.staff_id                                                     as staffId,
               bs.user_id                                                      as userId,
               bs.community_id                                                 as communityId,
               bs.staff_name                                                   as staffName,
               bs.staff_phone                                                  as staffPhone,
               bs.gender                                                       as gender,
               bs.card_no                                                      as cardNo,
               bs.avatar                                                       as avatar,
               bs.staff_type                                                   as staffType,
               bs.work_post                                                    as workPost,
               bs.healthy                                                      as healthy,
               bs.education                                                    as education,
               bs.cert_url                                                     as certUrl,
               bs.work_year                                                    as workYear,
               bs.audit_status                                                 as auditStatus,
               bs.entry_time                                                   as entryTime,
               bs.dimission_time                                               as dimissionTime,
               bs.address                                                      as address,
               bs.staff_intro                                                  as staffIntro,
               bs.create_by                                                    as createBy,
               bs.create_time                                                  as createTime,
               bs.update_by                                                    as updateBy,
               bs.update_time                                                  as updateTime,
               bs.del_flag                                                     as delflag,
               bb.building_name                                                as "buildingName",
               if(bs.dimission_time > 0, '离职', '在职')                       as jobStatus,
               (substring(now(), 1, 4) - substring(bs.card_no, 7, 4)) -
               (substring(bs.card_no, 11, 4) - date_format(now(), '%m%d') > 0) as age
        from xccj_community.bus_staff bs
                 LEFt JOIN xccj_community.bus_building bb on bb.building_id = bs.building_id
        where bs.user_id = #{userId}
    </select>
    <insert id="addStaff">
        INSERT
        INTO xccj_community.bus_staff (user_id, community_id, staff_name, staff_phone, gender, card_no, avatar,
                                       staff_type,
                                       work_post, healthy,
                                       education, cert_url, work_year, entry_time, dimission_time,
                                       address,
                                       staff_intro, create_by, update_time, del_flag)
        VALUES (#{userId},
                #{communityId},
                #{staffName},
                #{staffPhone},
                #{gender},
                #{cardNo},
                #{avatar},
                #{staffType},
                #{workPost},
                #{healthy},
                #{education},
                #{certUrl},
                #{workYear},
                #{entryTime},
                #{dimissionTime},
                #{address},
                #{staffIntro},
                #{createBy},
                sysdate(),
                '0');
    </insert>
    <update id="updateStaff">
        UPDATE xccj_community.bus_staff
        <set>
            <if test="communityId !=null">
                community_id = #{communityId},
            </if>
            <if test="staffName !=null">
                staff_name = #{staffName},
            </if>
            <if test="staffPhone !=null">
                staff_phone = #{staffPhone},
            </if>
            <if test="gender !=null">
                gender = #{gender},
            </if>
            <if test="cardNo !=null">
                card_no = #{cardNo},
            </if>
            <if test="avatar !=null">
                avatar = #{avatar},
            </if>
            <if test="staffType !=null">
                staff_type = #{staffType},
            </if>
            <if test="workPost !=null">
                work_post = #{workPost},
            </if>
            <if test="healthy !=null">
                healthy = #{healthy},
            </if>
            <if test="healthy !=null">
                education = #{education},
            </if>
            <if test="certUrl !=null">
                cert_url = #{certUrl},
            </if>
            <if test="workYear !=null">
                work_year = #{workYear},
            </if>
            <if test="entryTime !=null">
                entry_time = #{entryTime},
            </if>
            <if test="dimissionTime !=null">
                dimission_time = #{dimissionTime},
            </if>
            <if test="address !=null">
                address = #{address},
            </if>
            <if test="staffIntro !=null">
                staff_intro = #{staffIntro},
            </if>
            <if test="updateBy !=null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>

        </set>

        WHERE staff_id = #{staffId}
    </update>

    <insert id="insertUser" parameterType="com.wr.remote.domain.SysUser" useGeneratedKeys="true" keyProperty="userId">
        insert into xccj_estate_sys.sys_user(
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="deptId != null and deptId != 0">dept_id,</if>
        <if test="userName != null and userName != ''">user_name,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        user_type,create_time
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="deptId != null and deptId != ''">#{deptId},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        #{userType},sysdate()
        )
    </insert>

    <update id="updateStatusByIds">
        update xccj_community.bus_staff set dimission_time = now() where staff_id in
        <foreach collection="array" item="staffId" open="(" separator="," close=")">
            #{staffId}
        </foreach>
        and del_flag='0'
    </update>

    <delete id="deleteUserByIds">
        UPDATE xccj_estate_sys.sys_user SET del_flag ='2'
        WHERE user_id IN (
        SELECT user_id FROM xccj_community.bus_staff WHERE staff_id in
        <foreach collection="array" item="staffId" open="(" separator="," close=")">
            #{staffId}
        </foreach>
        )
    </delete>

    <update id="deleteStaffByIds">
        update xccj_community.bus_staff set del_flag = '1' where staff_id in
        <foreach collection="array" item="staffId" open="(" separator="," close=")">
            #{staffId}
        </foreach>
    </update>

    <select id="selectUserIdByUserName" resultType="java.lang.String">
        select u.user_id
        from xccj_estate_sys.sys_user u
        where u.user_name = #{userName}
          and u.del_flag = '0'
          and u.user_type = '12'
    </select>

    <update id="resetPass" parameterType="com.wr.remote.estate.manage.Staff">
        update xccj_community.bus_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="password != null">
                password = #{password}
            </if>
        </trim>
        where staff_id = #{staffId}
    </update>
    <select id="selectPhone" resultType="int">
        SELECT COUNT(*)
        FROM xccj_community.bus_staff
        where del_flag = '0'
          and staff_phone = #{staffPhone}
    </select>
    <select id="selectPhoneNo" resultType="int">
        SELECT COUNT(*)
        FROM xccj_community.bus_staff
        where del_flag = '0'
          and staff_phone = #{staffPhone}
          and staff_id != #{staffId}
    </select>
    <select id="selectCardNo" resultType="int">
        SELECT COUNT(*)
        FROM xccj_community.bus_staff
        where del_flag = '0'
          and card_no = #{cardNo}
    </select>

    <select id="selectCardNum" resultType="int">
        SELECT COUNT(*)
        FROM xccj_community.bus_staff
        where del_flag = '0'
          and card_no = #{cardNo}
          and staff_id != #{staffId}
    </select>

    <select id="selectStaffId" resultType="Long">
        SELECT staff_id
        FROM xccj_community.bus_staff
        where del_flag = '0'
          and card_no = #{cardNo}
    </select>

    <!-- 查询空闲的人员 -->
    <select id="listLeisureStaffs" resultType="com.wr.remote.estate.manage.Staff">
        SELECT bs.staff_id,
               bs.staff_name
        FROM xccj_community.bus_staff bs
                 LEFT JOIN xccj_work.bus_allot_post bap ON bs.work_post = bap.user_post
                 LEFT JOIN xccj_work.bus_allot ba ON bap.allot_id = ba.allot_id and ba.del_flag = '0'
        WHERE bs.del_flag = '0'
          AND ba.allot_id = #{allotId}
          AND bs.community_id = #{communityId}
          AND bs.staff_id NOT IN
              (SELECT unifinish.staff_id FROM xccj_work.view_unfinish_order unifinish WHERE unifinish.staff_id != 0)
    </select>
    <!-- 查询 空闲 繁忙 的人员 -->
    <select id="listLeisureBusyStaffs" resultType="com.wr.remote.estate.manage.Staff">
        SELECT DISTINCT bs.staff_id, CONCAT(bs.staff_name, IF(vuo.staff_id IS NULL, '（空闲）', '（繁忙）')) as staffName
        FROM xccj_community.bus_staff bs
                 LEFT JOIN xccj_work.bus_allot_post bap ON bs.work_post = bap.user_post
                 LEFT JOIN xccj_work.bus_allot ba ON bap.allot_id = ba.allot_id
                 left JOIN xccj_work.view_unfinish_order vuo ON vuo.staff_id = bs.staff_id
        WHERE bs.del_flag = '0'
          AND bs.audit_status = '1'
          AND bs.dimission_time IS NULL
          AND ba.allot_id = #{allotId}
          AND bs.community_id = #{communityId}
    </select>

    <!-- 获取员工名称 -->
    <select id="getStaffName" resultType="java.lang.String">
        SELECT staff_name
        FROM xccj_community.bus_staff
        WHERE staff_id = #{staffId}
    </select>

    <!-- 获取员工名称 -->
    <select id="getByUserIdStaff" resultType="com.wr.remote.estate.manage.Staff">
        SELECT work_post as "workPost",staff_id as "staffId",staff_name as "staffName", staff_phone as "staffPhone"
        FROM xccj_community.bus_staff
        WHERE
        <if test="userId !=null and userId !=''">
            user_id = #{userId}
        </if>
        <if test="staffId !=null and staffId !=''">
            staff_id = #{staffId}
        </if>
    </select>


</mapper>
