<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wr.estate.mapper.work.orderLedger.DecLedMapper">
    <!--字段映射-->
    <resultMap type="com.wr.remote.work.fitment.DecorateOrder" id="DecorateOrderResult">
        <id property="orderId" column="order_id"/>
        <result property="communityId" column="community_id"/>
        <result property="decorateId" column="decorate_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="orderName" column="order_name"/>
        <result property="orderType" column="order_type"/>
        <result property="allotWay" column="allot_way"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="staffId" column="staff_id"/>
        <result property="assistNum" column="assist_num"/>
        <result property="transferStatus" column="transfer_status"/>
        <result property="allotStatus" column="allot_status"/>
        <result property="acceptStatus" column="accept_status"/>
        <result property="executeStatus" column="execute_status"/>
        <result property="assessResult" column="assess_result"/>
        <result property="executeId" column="execute_id"/>
        <result property="executeTime" column="execute_time"/>
        <result property="finishTime" column="finish_time"/>
        <result property="imageUrl" column="image_url"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!--装修评定工单列表-->
    <select id="getDecorateOrderList" resultMap="DecorateOrderResult">
        select
            xwbdo.order_id, xwbdo.community_id, xwbdo.decorate_id, xwbdo.order_no, xwbdo.allot_way, xwbdo.assess_result, xwbdo.update_time, xwbdo.allot_status,
            (case xwbdo.update_by when '' then xwbdo.create_by else xwbdo.update_by end) update_by,
            xcbo.owner_name ownerName,
            xcbr.room_name roomName,
            CONCAT_WS('-',xcbc.community_name,xcbb.building_name,xcbu.unit_name,xcbr.room_name) address
        from xccj_work.bus_decorate_order xwbdo
        left join xccj_community.bus_community xcbc on xwbdo.community_id = xcbc.community_id
        left join xccj_community.bus_decorate xcbd on xwbdo.decorate_id = xcbd.decorate_id
        left join xccj_community.bus_owner xcbo on xcbd.owner_id = xcbo.owner_id
        left join xccj_community.bus_room xcbr on xcbd.room_id = xcbr.room_id
        left join xccj_community.bus_building xcbb on xcbd.building_id = xcbb.building_id
        left join xccj_community.bus_unit xcbu on xcbd.unit_id = xcbu.unit_id
        <where>
            xwbdo.del_flag = '0'
            <if test="ownerName != null and ownerName != ''">
                AND xcbo.owner_name like concat('%', #{ownerName}, '%')
            </if>
            <if test="roomName != null and roomName != ''">
                AND xcbr.room_name like concat('%', #{roomName}, '%')
            </if>
            <if test="allotWay != null and allotWay != ''">
                AND xwbdo.allot_way = #{allotWay}
            </if>
            <if test="assessResult != null and assessResult != ''">
                AND xwbdo.assess_result = #{assessResult}
            </if>
            <if test="communityId != null and communityId != 0">
                AND xwbdo.community_id = #{communityId}
            </if>
            and xwbdo.execute_status = '2' or xwbdo.execute_status = '3'
        </where>
    </select>

    <!--查询装修评定工单详情-->
    <select id="getDecorateOrderDetail" resultMap="DecorateOrderResult">
         select
            xwbdo.order_id, xwbdo.community_id, xwbdo.decorate_id, xwbdo.order_no, xwbdo.order_name, xwbdo.allot_way, xwbdo.image_url,
            xwbdo.assess_result, xwbdo.update_time, xwbdo.finish_time, xwbdo.start_time, xwbdo.end_time, xwbdo.remark,
            (select staff_name from xccj_community.bus_staff xcbs where xcbs.staff_id = xwbdo.staff_id) staffName,
            (IF((select count(xwba.abnormal_id) from xccj_work.bus_abnormal xwba where xwba.order_id = xwbdo.order_id and xwba.order_type = '4') = 0,'无异常', '异常')) abnormalType
        from xccj_work.bus_decorate_order xwbdo
        where xwbdo.order_id = #{orderId}
    </select>

    <!--查询工单协助人信息-->
    <select id="getStaffList" resultType="com.wr.remote.estate.manage.Staff">
        select
            xcbs.staff_name staffName, xcbs.staff_phone staffPhone, xcbs.card_no cardNo, xcbs.work_post workPost
        from xccj_work.bus_order_audit xwboa
        left join xccj_work.bus_order_assist xwboas on xwboa.audit_id = xwboas.audit_id
        left join xccj_community.bus_staff xcbs on xcbs.staff_id = xwboas.staff_id and xcbs.audit_status = '1' and xcbs.del_flag = '0'
        where
            xcbs.audit_status = '1' and xcbs.del_flag = '0' and xwboa.order_type = '4' and
            xwboa.audit_type = '1' and xwboa.audit_status = '1' and xwboa.del_flag = '0' and xwboa.order_id = #{orderId}
    </select>
</mapper>