<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wr.api.estate.mapper.application.QuestionnaireAccountMapper">

    <select id="getList" resultType="com.wr.api.estate.entity.application.serve.QuestionnaireAccountVo">
        SELECT
            bqa.id,
            bc.account_name as "accountName",
            bc.login_name as "loginName",
            bqa.create_time as "createTime"
        FROM
            xccj_community.bus_questionnaire_account bqa
                LEFT JOIN xccj_community.bus_account bc ON bqa.account_id = bc.account_id
        WHERE
            bqa.questionnaire_investigation_id = #{questionnaireInvestigationId}
        ORDER BY
            bqa.create_time DESC
    </select>


    <select id="getById" resultType="com.wr.api.estate.entity.application.serve.QuestionnaireAccountVo">
        SELECT
            bq.title,
            bq.deadline as "deadline",
            bqa.content
        FROM
            xccj_community.bus_questionnaire bq
                LEFT JOIN xccj_community.bus_questionnaire_account bqa ON bq.id = bqa.questionnaire_investigation_id
        WHERE
            bqa.id =#{id}
    </select>

</mapper>