<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wr.govern.mapper.autonomy.investigation.QuestionMapper">

    <insert id="insertQuestion" parameterType="com.wr.remote.govern.autonomy.investigation.Question" useGeneratedKeys="true" keyProperty="questionId">
        insert into xccj_govern.bus_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableType != null and tableType !=''">table_type,</if>
            <if test="tableId != null and tableId !=''">table_id,</if>
            <if test="questionName != null and questionName != ''">question_name,</if>
            <if test="questionType != null and questionType != ''">question_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableType != null and tableType !=''">#{tableType},</if>
            <if test="tableId != null and tableId !=''">#{tableId},</if>
            <if test="questionName != null and questionName != ''">#{questionName},</if>
            <if test="questionType != null and questionType != ''">#{questionType},</if>
        </trim>
    </insert>



    <select id="selectQuestion"  parameterType="com.wr.remote.govern.autonomy.investigation.Question" resultType="com.wr.remote.govern.autonomy.investigation.Question">
        select question_id,table_type,table_id,question_name,question_type,del_flag from xccj_govern.bus_question  where  table_id  =#{questionId}
         and del_flag='0' and table_type=#{tableType}
    </select>
</mapper>